<%= render "shared/header"%>

<div class='main'>

  <div class='title-contents'>
    <h2 class='service-title'>
      PONYOSKYで
    </h2>
    <p>物品の購入申請をしよう！</p>
  </div>
  
  <% if user_signed_in? %>
    <div class="order">
      <%= link_to '購入申請ページへ', new_item_path, class: "order-btn" %>
    </div>
  <% else %>
    <div class="require-sign-in">
      <%= link_to '新規登録', new_user_registration_path, class: "sign-in-btn" %>
    </div>
  <% end %>

  <div class="tabs">
  <input id="wait_approval" type="radio" name="tab_item" checked>
  <label class="tab_item" for="wait_approval">承認待ち</label>
  <input id="wait_order" type="radio" name="tab_item">
  <label class="tab_item" for="wait_order">発注待ち</label>
  <input id="wait_delivery" type="radio" name="tab_item">
  <label class="tab_item" for="wait_delivery">納入待ち</label>
    <input id="rejected" type="radio" name="tab_item">
  <label class="tab_item" for="rejected">却下申請</label>
  <div class="tab_content" id="approval_content">
    <div class="tab_content_description">
      <p class="c-txtsp">
        <ul class='item-lists'>
          <% @items.each do |item| %>
            <div class="item-data">
              <%= link_to item_path(item.id) do %>
                <li class='item-name'>
                  <%= item.name %>
                </li>
              <% end %>
              <div class="item-user">
                <%= item.user.name %>
              </div>
              <div class="item-date">
                <%= item.created_at.to_s(:datetime_jp)%>
              </div>
            </div>
          <% end %>
        </ul>
      </p>
    </div>
  </div>
  <div class="tab_content" id="order_content">
    <div class="tab_content_description">
      <p class="c-txtsp">発注待ちの内容がここに入ります</p>
    </div>
  </div>
  <div class="tab_content" id="delivery_content">
    <div class="tab_content_description">
      <p class="c-txtsp">納入待ちの内容がここに入ります</p>
    </div>
  </div>
  <div class="tab_content" id="rejected_content">
    <div class="tab_content_description">
      <p class="c-txtsp">納入待ちの内容がここに入ります</p>
    </div>
  </div>
</div>
  
</div>