<%= render "shared/header"%>


<div class="show-main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@item.name}の購入申請"%>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">商品名</th>
            <td class="table__col2"><%= @item.name %></td>
          </tr>
          <tr>
            <th class="table__col1">申請者</th>
            <td class="table__col2"><%= @item.user.name %></td>
          </tr>
          <tr>
            <th class="table__col1">メーカー</th>
            <td class="table__col2"><%= @item.maker %></td>
          </tr>
          <tr>
            <th class="table__col1">商品番号</th>
            <td class="table__col2"><%= @item.number %></td>
          </tr>
          <tr>
            <th class="table__col1">商品コード</th>
            <td class="table__col2"><%= @item.code %></td>
          </tr>
          <tr>
            <th class="table__col1">数量</th>
            <td class="table__col2"><%= @item.quantity %></td>
          </tr>
          <tr>
            <th class="table__col1">価格</th>
            <td class="table__col2"><%= "¥#{@item.price}" %></td>
          </tr>
          <tr>
            <th class="table__col1">合計価格</th>
            <td class="table__col2"><%= "¥#{@item.total_price}" %></td>
          </tr>
          <tr>
            <th class="table__col1">商社</th>
            <td class="table__col2"><%= @item.trading_company %></td>
          </tr>
          <tr>
            <th class="table__col1">検索方法</th>
            <td class="table__col2"><%= @item.retrieval %></td>
          </tr>
        </tbody>
      </table>
      <% if current_user.occupation_id == 5 %>
        <div class="control">
          <button class="login-btn" type="button">承認する</button>
        </div>
      <% end %>
      <% if @item.user.id == current_user.id || current_user.occupation_id == 6 %>
        <div class="control">
          <%= link_to "申請を編集する", edit_item_path, method: :get, class: "item-edit" %>
          <%= link_to "申請を取り消す", item_path, method: :delete, class:"item-destroy" %>
        </div>
    <% end %>
    </div>
  </div>
</div>