<%= render "shared/header"%>


<div class="show-main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@item.name}の購入申請"%>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">商品名</th>
            <td class="table__col2"><%= @item.name %></td>
          </tr>
          <tr>
            <th class="table__col1">申請者</th>
            <td class="table__col2"><%= @item.user.name %></td>
          </tr>
          <tr>
            <th class="table__col1">メーカー</th>
            <td class="table__col2"><%= @item.maker %></td>
          </tr>
          <tr>
            <th class="table__col1">商品番号</th>
            <td class="table__col2"><%= @item.number %></td>
          </tr>
          <tr>
            <th class="table__col1">商品コード</th>
            <td class="table__col2"><%= @item.code %></td>
          </tr>
          <tr>
            <th class="table__col1">数量</th>
            <td class="table__col2"><%= @item.quantity %></td>
          </tr>
          <tr>
            <th class="table__col1">価格</th>
            <td class="table__col2"><%= "¥#{@item.price}" %></td>
          </tr>
          <tr>
            <th class="table__col1">合計価格</th>
            <td class="table__col2"><%= "¥#{@item.total_price}" %></td>
          </tr>
          <tr>
            <th class="table__col1">商社</th>
            <td class="table__col2"><%= @item.trading_company %></td>
          </tr>
          <tr>
            <th class="table__col1">検索方法</th>
            <td class="table__col2"><%= @item.retrieval %></td>
          </tr>
          <%# <tr>
            <th class="table__col1">添付資料</th>
            <td class="table__col2"><%= image_tag @item.image</td> %>
          <%# </tr>  %>
        </tbody>
      </table>
      <% if current_user.occupation_id == 5 %>
        <% if @item.rejects.length == 0 %>
          <% if current_user.already_approved?(@item) %>
            <%= button_to '承認を取り消す', item_approval_path(@item), method: :delete, class: "approval-delete-btn" %>
          <% else %>
            <%= button_to '承認する', item_approvals_path(@item), class: "approval-btn" %>
          <% end %>
        <% end %>
        <% if @item.approvals.length == 0 %>
          <% if current_user.already_rejected?(@item) %>
            <%= button_to '却下を取り消す', item_reject_path(@item), method: :delete, class: "reject-delete-btn" %>
          <% else %>
            <%= button_to '却下する', item_rejects_path(@item), class: "reject-btn" %>
          <% end %>
        <% end %>
      <% end %>

       <% if @item.rejects.length == 0 %>
        <% if current_user.occupation_id == 7 && (@item.approvals.length == 2 || 3) %>
          <% if current_user.already_approved?(@item) %>
            <%= button_to '納入済みを取り消す', item_approval_path(@item), method: :delete, class: "approval-delete-btn" %>
          <% else %>
            <%= button_to '納入済み', item_approvals_path(@item), class: "approval-btn" %>
          <% end %>
        <% end %>
      <% end %>

      <% if @item.rejects.length == 0 %>
        <% if current_user.occupation_id == 6 && (@item.approvals.length == 1 || 2) %>
          <% if current_user.already_approved?(@item) %>
            <%= button_to '発注済みを取り消す', item_approval_path(@item), method: :delete, class: "approval-delete-btn" %>
          <% else %>
            <%= button_to '発注済み', item_approvals_path(@item), class: "approval-btn" %>
          <% end %>
        <% end %>
      <% end %>

        <% if @item.user.id == current_user.id || current_user.occupation_id == 6 %>
          <div class="control">
            <%= link_to "申請を変更する", edit_item_path(@item.id), method: :get, class: "item-edit" %>
            <%= link_to "購入申請を取り消す", item_path(@item.id), method: :delete, class:"item-destroy" %>
          </div>
        <% end %>
    </div>
  </div>

  <div class="item_comments">
    <%if user_signed_in? %>
      <%= form_with model: [@item, @comment],url: item_comments_path(@item.id), local: true do |f|%>
        <div class="field">
          <%= f.label :text, "コメント" %><br />
          <%= f.text_area :text, id:"comment_text" %>
        </div>
        <div class="actions">
            <%= f.submit "送信", class: :form_submit  %>
        </div>
      <% end %>
    <% end %> 
    <ul class="comments_lists">
      <%# 投稿に紐づくコメントを一覧する処理を記述する %>
      <% @comments.each do |comment|%>
        <div class="upper-message">
          <div class="message-user">
            <%= "名前：#{comment.user.name}" %>
          </div>
          <div class="message-date">
            <%= comment.created_at.to_s(:datetime_jp) %>
          </div>
        </div>
        <div class="lower-message">
          <div class="message-content">
            <%= comment.text%>
          </div>
        </div>
      <% end %>
      <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
    </ul>
  </div>
</div>